// $queryInputBg:;


.FormQueryWidget {
  --queryColor:var(--mainColor);
  --queryInputBg:transparent;
  --queryInputColor:#ffffff;
  --queryInputBorder:1px solid #424b61;
   
  color:var(--queryColor);
  .content {
    display: flex;
    flex-flow: wrap;
    .query-box {
      width: 100%;
      display: flex;
      .query-item {
        width: 100%;
        padding-left: 10px;
        .queryTitle {
          margin-bottom: 5px;
          margin-top: 5px;
          font-size: 10pt;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
          width: 100%;
        }

        .titleType1 {
          width: 100%;
          display: flex;
          // padding-right: 10px;
          .leftTitle {
            line-height: 32px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            padding-right: 5px;
            box-sizing: border-box;
            margin-right: 5px;
          }
          .input-box {
            display: flex;
            align-items: center;
            white-space: nowrap;
            flex: 1;
          }
        }
      }
    }
    .button-box {
      margin-left: 10px;
      display: flex;
      align-items: center;
    }
    .col-first {
      //  width: auto;
      margin-bottom: 10px;
    }

    .col-first-width-auto {
      width: auto;
      margin-bottom: 5px;
      margin-top: 5px;
    }
  }
  .form-control {
    display: flex;
    align-items: center;
    line-height:29px;
    box-sizing: content-box;
    div.rg-select div.rg-select__el div.rg-select__content {
      padding: 0px 30px 0px 15px;
    }
  }
  .myLeftTitle.el-col-24 {
    width: auto;
  }
  .item-date-text-width {
    width: 50px;
    line-height: 32px;
    background-color: #f8f8fa;
    margin-right: 2px;
  }
  .item-line-height {
    line-height: 32px;
    padding: 0 5px;
  }
  .el-checkbox-group {
    display: flex;
  }
  .el-input--suffix .el-input__inner {
    padding-right: 0px;
  }
  .el-date-editor.el-input,
  .el-date-editor.el-input__inner {
    width: 100%;
  }

  .connectLine {
    margin-left: 3px;
    margin-right: 3px;
  }
  .query-widget-style {
    // 未选中任何选项的时候 placeholder的样式 需要先选中父元素 增加权重
    input::-webkit-input-placeholder {
      color: #d8d8da;
    }
    input::-ms-input-placeholder {
      color: #d8d8da;
    }
    input::-moz-input-placeholder {
      color: #d8d8da;
    }
    //修改的是el-input的样式
    //一种方法是设置最里层el-input__inner的背景色 外层的两级父元素设置为透明色
    //另一种方法是从el-select到el-input__inenr的背景色都设置为需要的颜色
    //  .el-input__inner {
    //   background:var(--queryInputBg);
    //   /*text-align: center;*/
    //   color: var(--queryInputColor);
    //   border: var(--queryInputBorder);
    //   &:focus{
    //     border-color: #1889fb;
    //   }
    //   &:hover{
    //     border-color: #1889fb;
    //   }
    // }
    //el-input聚焦的时候 外层的border会有一个样式
    .el-select .el-input.is-focus .el-input__inner {
      border: 0px;
    }

    //修改的是el-input上下的小图标的颜色
    .el-select .el-input .el-select__caret {
      color: #fff;
    }

    //修改总体选项的样式 最外层
    .el-select-dropdown {
      background-color: #ffffff;
      margin: 0px;
      border: 0px;
      border-radius: 0px;
    }

    //修改单个的选项的样式
    .el-select-dropdown__item {
      background-color: transparent;
      color: black;
    }

    //item选项的hover样式
    .el-select-dropdown__item.hover,
    .el-select-dropdown__item:hover {
      color: #409eff;
    }

    //修改的是下拉框选项内容上方的尖角
    .el-popper .popper__arrow,
    .el-popper .popper__arrow::after {
      display: none;
    }
  }
  .advancedControlsSelection {
  }

  
}

.no-query-widget {
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: #409eff;
}

.scrollBar {
  height: 100%;
  width: 100%;
  position: relative;
  box-sizing: border-box;
  overflow: auto;
}
