@import "@/assets/style/hse-dialog.scss";

.FormTableWidget {
  --color:var(--mainColor);
  --borderColor:#dde4ea;
  --tableHeaderBg:rgb(234, 241, 247);
  .flex_column{
    display: flex;
    flex-flow: column;
    overflow:hidden;
    flex:1;
    height: 100%;
  }
  .flex_column.el-row{
      // flex: 1;
  } 
  .button-box {
    margin-bottom: 10px;
    width: 100%;
    .top-btn-class {
      margin-right: 5px;
    }
  }
  .lb-table {
    height: 100%;
    //复选框样式
    .el-table {
      // 去掉table的border start----------------------------
      &::before { height: 0px;}
      &::after {  width: 0;}
     // 去掉table的border end----------------------------
    }
    /**
      改变边框颜色
    */
    .el-table--group, .el-table--border {
          border: 1px solid var(--borderColor);
          border-right: 1px solid var(--borderColor);
    }
    /**
    改变表格内竖线颜色
    */
    .el-table--border  td, .el-table--border th, .el-table__body-wrapper .el-table--border.is-scrolling-left~.el-table__fixed {
        border-right: 1px solid var(--borderColor);
        border-bottom: 1px solid var(--borderColor);
    }
    /**
    改变表格内行线颜色
    */
    .el-table th.is-leaf, .el-table td {
      border-bottom: 1px solid var(--borderColor);
    }
    //整个table的背景颜色
    .el-table,
    .el-table__expanded-cell {
      background:transparent ;
      color:#1adafb;
      background-color: transparent;
      color: var(--color);
      height: 100%;
    }
    //表格头的颜色
    .el-table th{
      background-color: var(--tableHeaderBg);
      color:var(--color)
    }
    .el-table__fixed-right-patch{
      background-color: var(--tableHeaderBg);
    }
    //表格整行的颜色
    .el-table tr {
      background-color:transparent;
    }
    //表悬浮的颜色
    .el-table tbody tr:hover > td {
      background-color: transparent;
      color: #397eff;
    }
    //滚动条样式
    // .el-table__body-wrapper{
    //   &::-webkit-scrollbar-thumb {
    //     background-color: rgba(35,43,75,.8);
    //     border: 3px solid transparent;
    //     border-radius: 7px;
    //   }
    //   &::-webkit-scrollbar-thumb {
    //     background-color: rgba(35,43,75,.8);
    //     border: 3px solid transparent;
    //     border-radius: 7px;
    //   }
    // }
    //分页样式
    .el-pagination.is-background .btn-next, .el-pagination.is-background .btn-prev, .el-pagination.is-background .el-pager li {
        // color: #fff;
        // background-color: rgba(4,12,47,.965);
    }
    //选择样式
    .el-pagination.is-background .el-pager li:not(.disabled).active {
      // color: #fff;
      // background-color: #1889fb;
    }
    .el-pagination__jump, .el-pagination__total{
      // color: #fff;
    }
    
    //操作按钮样式
    .operation-box{
      white-space:pre-wrap;
      line-height:36px;
      .el-button{
        margin-left: 3px;
        color: rgb(64, 158, 255) ;
        font-size: 8px;
        background-color: transparent ;
        border-color: transparent ;
        border-radius: 5px;
        padding: 5px 10px;
        &:hover{
          color:#1470d3;
        }
      }
    }
  }
}



.scrollBar {
  height: 100%;
  width: 100%;
  position: relative;
  box-sizing: border-box;
  overflow: auto;
}