// ::v-deep .custom-dialog {
//   .el-dialog__body {
//     height: calc(100% - 76px);
//   }
// }


:deep(.el-dialog) {
    box-shadow: 0 0 30px #00000040;
    border-radius: 5px;
    overflow: hidden;
    padding-bottom:5px;
  .el-dialog__header {
    background: linear-gradient(45deg,#0076F6, #409eff, #0076F6);
    // padding: 10px 20px;

    .el-dialog__title {
      color:#DFEBFE;
      font-size: 15px;
      font-weight: bolder;
    }

    button.el-dialog__headerbtn {
      top: 13px;
      i.el-dialog__close {
        color:#DFEBFE;
      }
    }

    .dialog-header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      h2 {
        color: #fff;
        font-size: 18px;
      }

      span.close-button {
        display: block;
        height: 20px;
        width: 20px;
        cursor: pointer;
        position: relative;

        &:hover {
          transform: rotate(90deg);
        }

        @mixin close-line() {
          content: "";
          position: absolute;
          height: 20px;
          width: 2px;
          background: #d7ecdd;
        }

        &::before {
          @include close-line();
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%) rotate(45deg);
        }

        &::after {
          @include close-line();
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%) rotate(-45deg);
        }
      }
    }
  }
}
