@font-face {
    font-family: 'iconfont';  /* project id 1467856 */
    src: url('//at.alicdn.com/t/font_1467856_fevlkvhpfeh.eot');
    src: url('//at.alicdn.com/t/font_1467856_fevlkvhpfeh.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_1467856_fevlkvhpfeh.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_1467856_fevlkvhpfeh.woff') format('woff'),
    url('//at.alicdn.com/t/font_1467856_fevlkvhpfeh.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_1467856_fevlkvhpfeh.svg#iconfont') format('svg');
}

.process-manage {
    margin-bottom: 15px;
    .process-manage-top {
        padding: 10px;
        h3 {
            display: inline-block;
            font-size: 20px;
        }
        
        .el-button {
            margin: 0 10px;
        }
        
        .roundedRectangle {
            display: flex;
            flex-flow: column;
            align-items: center;
            width: 85px;
            height: 85px;
            cursor: pointer;
            margin-right: 15px;
            &:hover{
                p{
                    border-radius: 15px; 
                    background: #dbf4ff;
                }
            }
        }
        
        .roundedRectangle p {
            margin: 0;
            width: 60px;
            height: 60px;
            text-align: center;
            font-size: 12px;
            font-weight: bold;
            display: flex;
            justify-content: center;
            align-items: center;
            background: #F3F3F3; //背景色
            border-width: 10px; //边缘的宽度，如果要分别设置可以这样：border-width: 15px 5px 15px 5px;依次为上、右、下、左
            border-radius: 15px; //圆角的大小
            border-color: #000 #000 #000 #000; //边框颜色，依次为上、右、下、左
        }
        
        .roundedRectangle span {
            font-size: 12px;
            position: relative;
            padding-top: 7px;
        }
    }
    
    .icon-box {
        width: 85px;
        height: 85px;
        display: flex;
        flex-flow: column;
        align-items: center;
        cursor: pointer;
        margin-right: 15px;
        &:hover{
            p{
                border-radius: 15px; 
                background: #dbf4ff;
            }
        }
    }
    
    .icon-box p {
        width: 60px;
        height: 60px;
        margin: 0 auto;
        // padding: 20px;
        font-size: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        background: #F3F3F3; //背景色
        border-width: 10px; //边缘的宽度，如果要分别设置可以这样：border-width: 15px 5px 15px 5px;依次为上、右、下、左
        border-radius: 15px; //圆角的大小
    }
    
    .icon-box span {
        font-size: 12px;
        position: relative;
        padding-top: 7px;
    }
    
    .process-table {
        img {
            float: left;
            width: 48px;
            height: 48px;
            border-radius: 6px;
        }
        
        .process-table-box {
            float: left;
            padding-left: 12px;
            font-size: 12px;
            
            h4 {
                font-size: 15px;
                color: #333;
            }
            
            p {
                margin: 0;
                line-height: 1.5;
                color: #777;
            }
        }
        
        .second-column {
            h4 {
                font-size: 14px;
            }
            
            p {
                margin: 0;
                line-height: 2.2;
                color: #777;
            }
        }
    }
}