html,
body {
    height: 100%;
    overflow: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-weight: normal;
}

$primary-color: #409EFF;
$primary-background-color: #ecf5ff;

*, :after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.full-height {
    height: 100%;
}

.text-right {
    text-align: right;
}

.el-radio + .el-radio {
    margin-left: 0 !important;
}

.el-radio {
    margin-right: 30px;
    
}

.el-checkbox + .el-checkbox {
    margin-left: 0 !important;
}

.el-checkbox {
    margin-right: 30px;
}

.el-form-item--small {
    .el-radio {
        line-height: 32px !important;
    }
    
    .el-rate {
        margin-top: 6px;
    }
}

.el-form-item--mini {
    .el-radio {
        line-height: 28px !important;
    }
    
    .el-rate {
        margin-top: 4px;
    }
}

.el-form-item--medium {
    .el-radio {
        line-height: 36px !important;
    }
    
    .el-rate {
        margin-top: 8px;
    }
}

.el-input.is-disabled .el-input__inner {
    /* background-color: #F5F7FA; */
    /* border-color: #E4E7ED; */
    /* color: #C0C4CC; */
    border: 1px solid #eee;
    background-color: #f5f5f5;
    color: #aaa;
    cursor: not-allowed;
}

.el-textarea.is-disabled .el-textarea__inner {
/*    background-color: #F5F7FA;
    border-color: #E4E7ED;
    color: #C0C4CC;*/
    border: 1px solid #eee;
    background-color: #f5f5f5;
    color: #aaa;
    cursor: not-allowed;
}
.el-steps--simple {
    padding: 10px 15%;
    border-radius:0;
    background: #0b1532
}

.el-step__head.is-process {
    color: #409EFF;
    border-color: #409EFF;
}

.el-step__title.is-process {
    font-weight: 700;
    color: #409EFF;
}

.el-icon-close:before {
    font-size: 20px;
}
