@mixin line4($color,$hoverColor){
    &::before{
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        padding: 10px;
        background: linear-gradient(to left, $color, $color) left top no-repeat, linear-gradient(to bottom, $color, $color) left top no-repeat, linear-gradient(to left, $color, $color) right top no-repeat, linear-gradient(to bottom, $color, $color) right top no-repeat, linear-gradient(to left, $color, $color) left bottom no-repeat, linear-gradient(to bottom, $color, $color) left bottom no-repeat, linear-gradient(to left, $color, $color) right bottom no-repeat, linear-gradient(to left, $color, $color) right bottom no-repeat;
        background-size: 2px 20px, 20px 2px, 2px 20px, 20px 2px;
        transition: all .4s ease;
        border: 1px solid transparent;
      }
      &:hover::before {
        border: 1px solid $hoverColor;
      }
}