.NavGroup{
    display: flex;
    height: 100%;
    overflow: hidden;
    background: var(--bg);

    .left-menu{
       height: 100%;
       background: var(--menuBg);
       position: relative;
        .nav-menu{
            height: 100%;
            overflow-y:hidden;
            overflow-x: hidden;
        }
        .nav-menu:not(.el-menu--collapse) {
            width: var(--sideBarWidth)!important;
            min-height: 400px;
            transition: width 0.28s;
        }
        .el-menu-item:hover{
            background: var(--menuHover) !important;
        }
        .submenu-title-noDropdown,
        .el-submenu__title {
            &:hover {
                background-color: var(--menuHover) !important;
            }
        }
        .el-menu-item{
            &.is-active{
                background:var(--menuActiveBg) !important;
                border-right: var(--borderRight);
            }
        }

        .is-active>.el-submenu__title {
            color: var(--subMenuActiveText) !important;
        }
        & .nest-menu .el-submenu>.el-submenu__title,
        & .el-submenu .el-menu-item {
            min-width: var(--sideBarWidth) !important;
            background-color: var(--subMenuBg) !important;
            &.is-active{
                background:var(--subMenuActiveBg) !important;
                border-right:var(--borderRight);
            }
            &:hover {
                background-color: var(--subMenuHover) !important;
            }
        }
        .el-scrollbar{
            height: 100%;
        }
    }
    .menuCollapse{
        position: absolute;
        top:1px;
        bottom: 1px;
        right:-11.5px;
        width: 12px;
        background:transparent ;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
        i{  
            position:absolute;
            top: 40%;
            display: none;
            border-bottom-right-radius: 5px;
            border-top-right-radius: 5px;
            height: 50px;
            width: 100%;
            background:transparent !important;
            color: #e4e2e2;
            transition: all 0.4s;

        }
        &:hover{
            i{
                display: flex;
                justify-content: center;
                align-items: center;
                &:hover{
                    color: #fff;
                    background: #29374a;
                }
            }
        }
    }
    .Main{
        flex:1;
        overflow: auto;
        box-sizing: border-box;
        display: flex;
        flex-flow: column;
        position: relative;
    }
    .navbar {
        height: 45px;
        overflow: hidden;
        position: relative;
        background: #fff;
        box-shadow: 0 1px 4px rgba(0,21,41,.08);
        .hamburger-container {
            line-height: 42px;
            height: 100%;
            float: left;
            cursor: pointer;
            transition: background .3s;
            -webkit-tap-highlight-color:transparent;
        
            &:hover {
            background: rgba(0, 0, 0, .025)
            }
        }
        
        .breadcrumb-container{
            float: left;
        }
    }
}

.menuIcon  i {
    margin-right: 5px;
    text-align: center;
    vertical-align: middle;
    color: inherit;
}

.third-content {
 flex:1;
 padding:15px;
 overflow: auto;
}

.third-content2 {
 flex:1;
 overflow: auto;
 padding:15px;
}

//菜單折叠
.el-menu--collapse {
    .el-submenu {
        &>.el-submenu__title {
            &>span {
                height: 0;
                width: 0;
                overflow: hidden;
                visibility: hidden;
                display: inline-block;
            }
            .el-submenu__icon-arrow{
                display: none;
            }
        }
    }
}

.router-view{
    background: #fff;
    min-height: 100%;
    padding: 15px;
}