.el-tabs--card > .el-tabs__header{
    border-bottom: 1px solid var(--borderColor);
}
.el-tabs__item,.el-tabs--border-card > .el-tabs__header .el-tabs__item{
    color:var(--mainColor);
}
.el-tabs__item.is-active,.el-tabs--border-card > .el-tabs__header .el-tabs__item.is-active {
    color: #1890ff;
}
.el-tabs__nav-wrap::after{
    background: #424b61;
}

.el-tabs--border-card{
    background: transparent;
    border: 1px solid var(--borderColor);
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 12%), 0 0 6px 0 rgb(0 0 0 / 4%);
}
.el-tabs--border-card > .el-tabs__header{
    background-color: var(--headerBg);
    border-bottom: 1px solid var(--borderColor);
    margin: 0;
}
.el-tabs--card > .el-tabs__header .el-tabs__nav{
    border-bottom: 1px solid  var(--borderColor);
}
.el-tabs--card > .el-tabs__header .el-tabs__item {
    border-bottom: 1px solid var(--borderColor);
    border-left: 1px solid  var(--borderColor);
}

.el-tabs--left.el-tabs--border-card .el-tabs__header.is-left{
    border-right: 1px solid var(--borderColor);
}

.el-tabs--left.el-tabs--card .el-tabs__item.is-left {
    border-left: none;
    border-right: 1px solid var(--borderColor);
    border-bottom: none;
    border-top: 1px solid var(--borderColor);
    text-align: left;
}
.el-tabs--left.el-tabs--card .el-tabs__item.is-left.is-active{
    border: 1px solid var(--borderColor);
}
.el-tabs--card > .el-tabs__header .el-tabs__nav{
    border: 1px solid var(--borderColor);
}