@import "./setting.scss";
.ReportTheme{
    --mainColor:#303133;
    --headerBg:#103171;
    --borderColor:#424b6147;
    --InputBg:transparent;
    --InputColor:var(--mainColor);
    --InputBorder:1px solid #424b61;
    --itemBg:#ffffff;
    @import '@/assets/theme/control/FormQueryWidget.scss';
    @import '@/assets/theme/control/FormTableWidget.scss';
    @import '@/assets/theme/control/TextWidget.scss';
    @import '@/assets/theme/element/index.scss';
    @import '@/assets/theme/mixin/index.scss';
    @import './scrollbar.scss';
    // background: #040d32;
    .dragHandle{
        background:transparent ;
    }
    .dragAndResize{
        height: 100%;
        position: relative;
        background: transparent ;
        .tool-title{
            position: absolute;
            left: 0.5rem;
            top: 0.5rem;
            font-weight: bold;
            .caption {
                margin-right: 4px;
                font-size: 14px;
                font-weight: bold;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                color:var(--mainColor) ;
            }
        }
        .tool {
            position: absolute;
            right: 0.5rem;
            top: 0.5rem;
            cursor: pointer;
            font-weight: bold;
            z-index: 10;
        }
        .chart {
            width: 100%;
            height: 100%;
            overflow: hidden;
            cursor: default;
        }
    }  
}