$TopNavHeight:60px;
$LogoSize:16px;

.top-nav {
    width: 100%;
    background: var(--menuBg);
    color: #fff;
    overflow: hidden;
    height: $TopNavHeight;
    z-index: 1;
    .logo {
        width: var(--logoWidth);
        display: flex;
        align-items: center;
        justify-content: center;

        .logoImg {
            cursor: pointer;
            margin-right: 10px;
        }

        .menu-title {
            cursor: pointer;
            font-size: $LogoSize;
            letter-spacing: 5px;
            color: #fff;
            font-weight: bold;
        }
    }
    .user-info-css {
        width: 180px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: $TopNavHeight;
        text-align: center;
        font-size: 14px;
        position: relative;
        span {
            cursor: pointer;
        }
        p i, p span {
            float: left;
            margin: 0 4px;
            line-height: $TopNavHeight;
            font-size: 14px;
        }
    }
    h4 {
        margin: 0;
        line-height: $TopNavHeight;
    }

    .top-menu-col {
        flex: 1;
        display: flex;

        .el-menu-demo {
            flex: 1;
            height: $TopNavHeight;
            top: 0;
            float: right;
            border-bottom: 0 !important;
            background-color: transparent !important;
            .el-menu-item:hover{
                background: var(--menuHover) !important;
            }
        }

        .el-icon-arrow-right {
            display: flex;
            align-items: center;
            padding: 0 5px;
            font-size: 20px;
            box-sizing: border-box;

            &:hover {
                background:var(--menuActiveBg);
            }
        }
    }
    .shortcut-menu {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: $TopNavHeight;

        .menu {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        i,
        .task-label {
            cursor: pointer;
        }
    }

    .el-menu.el-menu--horizontal {
        .is-active {
                background:var(--menuActiveBg) !important;
        }
    }

    .my-title {
        height: $TopNavHeight;
        display: flex;
        align-items: center;
        margin-left: 15px;
        .my-title-row {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 45px;
            height: 45px;
            // box-sizing: border-box;
            // height: 100%;
            // height: 33%;
            margin-left: 5px;
            text-align: center;
            font-size: 26px;

            &:hover {
                background: #adbae2;
                border-radius: 5px;
                transform: scale(1.2);
            }
        }

    }
}

.task-label {
    font-size: 15px;
    // padding-right: 20px;
    height: 30px;
}